# This config sets the default target and profile of dbt
export DBT_PROFILE_TARGET="northwind_traders_elt";
export DBT_DEFAULT_TARGET="dev";

# Set your schema to be dev_FIRSTNAME_LASTNAME
export DEV_SCHEMA_NAME="<YOUR DEV SCHEMA HERE>";

# ----------------------------- #
# Databricks adapter variables  #
# ----------------------------- #
# Config the databricks and access token credentials here
export DEV_DATABRICKS_CATALOG="<YOUR DEV CATALOG HERE>";
export DEV_DATABRICKS_HOST="<DEV HOST HERE>";
export DEV_DATABRICKS_HTTP_PATH="<DEV CLUSTER HTTP PATH HERE WITHOUT THE FIRST "/">";
export DEV_DATABRICKS_TOKEN="<YOUR DATABRICKS PERSONAL TOKEN HERE>";
export DBT_DATABRICKS_ALLPURPOSE_CLUSTER_ID="<YOUR DATABRICKS ALL PURPOSE CLUSTER IF NECESSARY>";


# Prod
export PROD_SCHEMA_NAME_LATAM="<YOUR PROD SCHEMA HERE>";
export PROD_DATABRICKS_CATALOG_LATAM="<YOUR PROD CATALOG HERE>";
export PROD_DATABRICKS_HOST="<PROD HOST HERE>";
export PROD_DATABRICKS_HTTP_PATH_LATAM="<DEV CLUSTER HTTP PATH HERE WITHOUT THE FIRST "/">";
export PROD_DATABRICKS_TOKEN="<YOUR DATABRICKS PERSONAL TOKEN HERE>";